[submodule "backend"]
	path = backend
	url = https://github.com/AlexandreMoreau2002/backend.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/AlexandreMoreau2002/perfectboulder_mobile.git
